<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICRMService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55160/CRMService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICRMService" contract="CRMService.ICRMService"
                name="BasicHttpBinding_ICRMService" />
        </client>
    </system.serviceModel>
</configuration>